* {
    font-family: 'Alkatra', cursive;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #31333B;
    overflow-x: hidden;
}

header {
    background-color: #31333B;

    position: fixed;
    top: 0px;

    box-sizing: border-box;

    transition: 0.5s;
    z-index: 9999;
}

header>section {
    width: 97vw;
    height: 60px;
    border: 2px solid #ff253a;
    border-radius: 10px;

    background-color: #31333B;

    margin: 10px;
}

header>section>div:first-child {
    width: fit-content;
    height: fit-content;

    color: white;

    padding: 10px;

    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

header>section>div:nth-child(2) {
    width: fit-content;
    height: fit-content;

    padding: 10px;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
}

header>section>div>button {
    border: none;
    background-color: #31333B;
    color: white;
    font-weight: bold;
}

header>section>div>i {
    visibility: hidden;
}

header>section>div>button:hover {
    transition: 0.5s;
    transform: scale(1.1) translateY(-7%);
    color: navajowhite;
}

/*<!-------------------------------------- End of the header ---------------------------------------------->*/


/*<!-------------------------------------- Mains ---------------------------------------------->*/

#main_03 {
    display: none;
}

#main_02 {
    display: none;
}


/*<!-------------------------------------- Mains ---------------------------------------------->*/
#bubbleSection {
    position: absolute;
}

.bubbleDiv {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: bubbleAnimate linear infinite;
    animation-duration: calc(200s/var(--i));
}

.bubbles span:nth-child(even) {
    background-color: #ff2d74;
    box-shadow: 0 0 0 10px #ff2d7444,
    0 0 50px #ff2d74,
    0 0 100px #ff2d74;
}

@keyframes bubbleAnimate {
    0% {
        transform: translateY(100vh)scale(0);
    }
    100% {
        transform: translateY(-100vh)scale(1);
    }
}

main>section {
    position: relative;
    top: 70px;

}

#mSection01 {
    width: fit-content;
    height: fit-content;
    /*border: 1px solid red;*/

    position: relative;
    left: 50px;
    /*top: 70px;*/

    margin-top: 40px;
    box-sizing: border-box;
}

#mSection01>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 200px;
}

/*---------------------------------------------- btn jelly -------------------------------------------------------*/

.A {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    top: 30%;
}

.B {
    border: none;
    outline: none;
    color: white;
    font-size: 0;
    position: relative;
    bottom: 40px;
    left: 90px;
}

.btnJelly {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 60px;
    display: flex;
    font-family: 'Alkatra', cursive;
}

.btnJelly:hover {
    color: rgb(92, 255, 160);
    animation: bounceJellyEffect 0.6s;
}

@keyframes bounceJellyEffect {
    25% {
        transform: scale(0.8, 1.3);
    }
    50% {
        transform: scale(1.1, 0.8);
    }
    75% {
        transform: scale(0.7, 1.2);
    }
}

.U1 {
    position: absolute;
    bottom: 1px;
    left: 0;
}

.U {
    position: absolute;
    top: 7px;
    left: 0;
}

.D {
    position: absolute;
    bottom: 1px;
    left: 40px;
}

.E {
    position: absolute;
    top: 7px;
    left: 40px;
}

.F {
    position: absolute;
    top: 7px;
    left: 90px;
}

.G {
    position: absolute;
    top: 7px;
    left: 117px;
}

.H {
    position: absolute;
    top: 7px;
    left: 142px;
}

.I {
    position: absolute;
    top: 7px;
    left: 200px;
}

.J {
    position: absolute;
    top: 7px;
    left: 248px;
}

.K {
    position: absolute;
    top: 7px;
    left: 280px;
}

.L {
    position: absolute;
    top: 7px;
    left: 312px;
}

.M {
    position: absolute;
    top: 7px;
    left: 345px;
}

.N {
    position: absolute;
    top: 7px;
    left: 375px;
}

.O {
    position: absolute;
    top: 7px;
    left: 400px;
}

.P {
    position: absolute;
    top: 7px;
    left: 433px;
}

.Q {
    position: absolute;
    top: 7px;
    left: 466px;
}

.R {
    position: absolute;
    top: 7px;
    left: 499px;
}

.S {
    position: absolute;
    top: 7px;
    left: 534px;
}

/*---------------------------------------------- btn jelly -------------------------------------------------------*/

#mSection01SubSection01>div {
    /*border: 1px solid;*/
    height: fit-content;

    /*background-color: #31333B;*/

    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

#mSection01SubSection01 {
    position: relative;
}

.btnContact {
    border: 2px solid orangered;
    border-radius: 10px;
    background-color: #31333B;
    color: orangered;
    font-weight: bold;

    position: absolute;
    left: 100px;
    margin: auto;
}

.btnContact:hover {
    animation: none;
}

/*<!------------------------------------------ About Me --------------------------------------------------->*/

#mSectionAboutMe {
    position: relative;

    width: 100%;
    height: 70vh;
}

#mSectionAboutMe>div:first-child {

    width: fit-content;
    min-height: fit-content;

    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

}

#mSectionAboutMe>div>pre {
    color: white;
    font-size: 1.3vw;
    font-weight: bolder;
    line-height: 30px;
}

/*<!------------------------------------------ Skills --------------------------------------------------->*/

#mSectionSkills {

}

#mSectionSkills>h4 {
    text-align: center;
}

#mSectionSkillsSub01 {
    display: flex;
    justify-content: space-evenly;
}

.skillSet>img {
    width: 150px;
}

.skillSet1>img {
    width: 130px;
}

#mSectionSkillsSub02 {
    display: flex;
    justify-content: space-evenly;
}

/*<!------------------------------------- Skills (tooltips) ---------------------------------------------->*/

#toolTipText1 {
    width: fit-content;

    font-weight: bold;
    color: white;


    background-color: #20c997;
    padding: 7px;
    border-radius: 10px;

    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;

    transform: translateY(50%);

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#figmaDiv1:hover #toolTipText1 {
    visibility: visible;
    opacity: 1;
}

/*2*/
#toolTipText2 {
    width: fit-content;

    font-weight: bold;
    color: white;

    background-color: #20c997;
    padding: 7px;
    border-radius: 10px;

    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;

    transform: translateY(60%);

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#figmaDiv2:hover #toolTipText2 {
    visibility: visible;
    opacity: 1;
}

/*3*/
#toolTipText3 {
    width: fit-content;

    font-weight: bold;
    color: white;

    background-color: #20c997;
    padding: 7px;
    border-radius: 10px;

    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;

    transform: translateY(70%);

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#figmaDiv3:hover #toolTipText3 {
    visibility: visible;
    opacity: 1;
}

/*4*/
#toolTipText4 {
    width: fit-content;

    font-weight: bold;
    color: white;

    background-color: #20c997;
    padding: 7px;
    border-radius: 10px;

    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;

    transform: translateY(60%);

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#figmaDiv4:hover #toolTipText4 {
    visibility: visible;
    opacity: 1;
}

/*5*/
#toolTipText5 {
    width: fit-content;

    font-weight: bold;
    color: white;

    background-color: #20c997;
    padding: 7px;
    border-radius: 10px;

    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;

    transform: translateY(50%);

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#figmaDiv5:hover #toolTipText5 {
    visibility: visible;
    opacity: 1;
}

/*6*/
#toolTipText6 {
    width: fit-content;

    font-weight: bold;
    color: white;

    background-color: #20c997;
    padding: 7px;
    border-radius: 10px;

    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;

    transform: translateY(100%);

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#figmaDiv6:hover #toolTipText6 {
    visibility: visible;
    opacity: 1;
}

/*7*/
#toolTipText7 {
    width: fit-content;

    font-weight: bold;
    color: white;

    background-color: #20c997;
    padding: 7px;
    border-radius: 10px;

    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;

    transform: translateY(100%);

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#figmaDiv7:hover #toolTipText7 {
    visibility: visible;
    opacity: 1;
}

/*8*/
#toolTipText8 {
    width: fit-content;

    font-weight: bold;
    color: white;

    background-color: #20c997;
    padding: 7px;
    border-radius: 10px;

    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;

    transform: translateY(100%);

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#figmaDiv8:hover #toolTipText8 {
    visibility: visible;
    opacity: 1;
}

/*<!------------------------------------------ Education --------------------------------------------------->*/

#mSectionEducation {
    /*background-color: #F3FE9C;*/

}

#mSectionEducationSub1 {
    width: 100%;
    min-height: 100vh;
    background-color: #F3FE9C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    padding: 35px 10%;
}

div .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
}

.col header2.title {
    color: #11a372;
    padding: 0 0 20px 30px;
}

.col .contents {
    padding: 0px 30px;
    border-left: 2px solid #bababa;
}

.col .contents .box {
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}

.col .contents .box:hover {
    box-shadow: 0 3px 12px 0 #ccc;
    border: 1px solid transparent;
}

.col .contents .box::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: -1px;
    right: calc(100% + 24px);
    background-color: #11a372;
    border: 1px solid white;
}

.box h4 {
    position: relative;
    color: #11a372;
}

.box h3 {
    font-size: 19px;
    padding: 10px 0 6px;
    color: #444;
}

.box p {
    line-height: 1.2;
    color: #666;
    font-size: 17px;
}

/*<!------------------------------------------ Projects --------------------------------------------------->*/

#mSectionProjects {
    position: relative;
}

#mSectionProjectsSub01 {
    width: 100vw;
    height: 100vh;

    position: relative;
}


#mSectionProjectsSub01>div {

    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);

    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

#mSectionProjectsSub01>div>div {
    padding: 50px;
    position: relative;
    left: 60px;
}

#mSectionProjectsSub01>div>div>img {
    width: 300px;

    border: 5px solid #F3FE9C;
}

#mSectionProjectsSub01>div>div>img:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;

    border: 5px solid #79860f;
}

#mSectionProjectsSub01>div>div>span {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#span1 {
    position: relative;
    top: 110px;
    right: 190px;
}

#span2 {
    position: relative;
    top: 110px;
    right: 190px;
}

#span3 {
    position: relative;
    top: 120px;
    right: 190px;
}

#span4 {
    position: relative;
    top: 120px;
    right: 190px;
}

#mSectionProjects>button {
    width: fit-content;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/*<!------------------------------------------ Assignments --------------------------------------------------->*/

#mSectionAssignments {
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
    background: #90A2AE;
}

#mSectionAssignments>h4 {
    text-align: center;
}

#mSectionAssignmentsSub01 {
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/*                                        flip card                                            */

.flip_card {
    width: 30vw;
    height: fit-content;
}

#mSectionAssignmentsSub01 .flip_card:hover .card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    border: none;
}

.front {
    width: 30vw;
    height: fit-content;

    border-radius: 2rem;
    position: absolute;
    backface-visibility: hidden;
}

.front img{
    width: 30vw;
    backface-visibility: hidden;
    border: 3px solid;
    border-radius: 2rem;

}

.back {
    width: 30vw;
    height: fit-content;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    border-radius: 2rem;
    position: absolute;
    backface-visibility: hidden;
}

.back img{
    width: 30vw;
    backface-visibility: hidden;
    opacity: 0.5;
    border: 3px solid;
    border-radius: 2rem;
}

.back p{
    position: relative;
    bottom: 150px;
    left: 30px;
    font-weight: bold;
    font-size: 17px;
}

.back a{
    position: relative;
    bottom: 150px;
    text-decoration: none;
    border: none;
    background: transparent;
    font-weight: bold;
    font-size: 18px;
    color: blue;
}

/*<!------------------------------------------ Contact --------------------------------------------------->*/

#mSectionContact {

}

#mSectionContactSub1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#mSectionContactSub1>div {
    border-top: 3px solid #bb2d3b;
    border-bottom: 3px solid yellowgreen;
    border-left: 3px solid blue;
    border-right: 3px solid orange;

    width: fit-content;
    height: fit-content;

    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;

    position: relative;
    left: 150px;
}

#mSectionContactSub1>div:hover {
    transform: scale(1.05);
    transition: 0.5s;
    background-color: #4f5050;
}

#mSectionContactSub1>div>a {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

/*<!------------------------------------------ Button Style --------------------------------------------------->*/

.btnStyle {
    border: 3px solid #0dcaf0;
    border-radius: 10px;
    font-weight: bold;
    color: #0dcaf0;
    background-color: #31333B;
}

.btnStyle:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

/*<!------------------------------------------ Title text --------------------------------------------------->*/

.titleTextDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleTextDiv>h1 {
    position: relative;
    color: #31333B;
    font-size:4vw;
    -webkit-text-stroke: 0.1vw white;
    border-bottom: 3px solid #20c997;

}

.titleTextDiv>h1:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #01fe87;
    font-weight: bolder;
    -webkit-text-stroke: 0vw #383d52;
    overflow: hidden;
    animation: animate 6s linear infinite;

}

@keyframes animate {

    0%,10%,100% {
        width: 0;
    }

    70% {
        width: 100%;
    }
}


/*//////////////////////////////////////////// Main 02 ////////////////////////////////////////////////////////////*/

#main_02 {
    position: relative;
}

#main_02>div {
    width: 100%;
    min-height: 130vh;
    background-color: #ECEEED;

    position: relative;
    top: 50px;
}

#m2SectionContact {
    width: fit-content;
    height: fit-content;

    position: absolute;
    top: 10vh;
    left: 0;
    right: 0;
    margin: auto;
}

#m2SectionContact h3 {
    font-weight: bold;
    font-size: 3vw;
}

#m2SectionContact span {
    font-weight: bold;
    font-size: 18px;
}

#m2SectionContactSub1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#m2SectionContactSub1>div:nth-child(2)>img {
    position: relative;
    width: 500px;

}

#m2SectionContactSub1>div>form>div>input {
    width: 350px;
}

#m2SectionContactSub1>div>form>div>input:hover {
    background-color: rgba(243, 254, 156, 0.85);
}

#m2SectionContactSub1>div>form>div>label {
    color: purple;
    font-weight: bold;
}

#m2SectionContactSub1>div>form>div>textarea {
    width: 350px;
    height: 200px;
}

#m2SectionContactSub1>div>form>div>textarea:hover {
    background-color: rgba(243, 254, 156, 0.85);
}


/*//////////////////////////////////////////// Main 03 ////////////////////////////////////////////////////////////*/

#m3SectionProjects {
    width: 100%;
    min-height: 100vh;
    background-color: #ECEEED;
}

#m3SectionProjectsSub1 {
    width: 1000px;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;

    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    margin: auto;
}

#m3SectionProjects>h3 {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 30px;

    font-size: 30px;
    color: #0dcaf0;
}

.projectClass {
    border: 1px solid transparent;
    box-shadow: 0 3px 12px 0 #ccc;

    width: fit-content;
    height: fit-content;

    /*margin-top: 100px;*/
    /*padding-left: 100px;*/

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
}

.projectClass>div>img {
    width: 500px;
    border: 3px solid black;
    border-radius: 10px;
}

.projectClass>div>h4 {
    color: #11a372;
    font-size: 20px;
    font-weight: bold;
}

.projectClass>div>p {
    line-height: 1.2;
    font-size: 17px;
}

.projectClass>div>button {
    border: 3px solid saddlebrown;
    border-radius: 10px;
    padding: 6px;
    color: papayawhip;
    background-color: #4f5050;
    font-weight: bold;
}

.projectClass>div>button:hover {
    transition: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}


/*//////////////////////////////////////////////.......Media........./////////////////////////////////////////////*/

@media all and (max-width: 800px){

    header>section>div>button {
        display: none;
    }

    header>section>div>i {
        visibility: unset;
        color: white;

        position: relative;
        right: 10px;

        cursor: pointer;
    }

    #mSection01>div {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #mSection01SubSection01 {
        grid-column: 1;
        grid-row: 2/3;
    }

    #mSection01SubSection02>input {
        width: 300px;

        position: relative;
        left: 5vw;

        border-radius: 100%;
        border-bottom: 6px solid;
        border-top: 5px solid #383d49;
    }


    /*<!-------------------------------------- End of the header ---------------------------------------------->*/


    /*<!-------------------------------------- About me ---------------------------------------------->*/

    #mSectionAboutMe>div>pre {
        line-height: 15px;
        font-size: 1.5vw;
    }

    /*<!------------------------------------------ Skills --------------------------------------------------->*/

    .skillSet>img {
        width: 100px;
    }

    .skillSet1>img {
        width: 80px;
    }

    #toolTipText1 {
        font-size: 10px;
    }

    #toolTipText2 {
        font-size: 10px;
    }

    #toolTipText3 {
        font-size: 10px;
    }

    #toolTipText4 {
        font-size: 10px;
    }

    #toolTipText5 {
        font-size: 10px;
    }

    #toolTipText6 {
        font-size: 10px;
    }

    #toolTipText7 {
        font-size: 10px;
    }

    #toolTipText8 {
        font-size: 10px;
    }

    /*<!------------------------------------------ Education --------------------------------------------------->*/

    div .row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 50px;
    }

    .box h4 {
        font-size: 17px;
        position: relative;
        color: #11a372;
    }

    .box h3 {
        font-size: 15px;
        padding: 10px 0 6px;
        color: #444;
    }

    .box p {
        line-height: 1.2;
        color: #666;
        font-size: 11px;
    }


    /*<!------------------------------------------ Projects --------------------------------------------------->*/

    #mSectionProjectsSub01>div {

        width: fit-content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);

        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }

    #mSectionProjectsSub01>div>div>img {
        width: 200px;
    }

    #mSectionProjectsSub01 {
        height: 180vh;
    }

    #span1 {
        position: relative;
        top: 80px;
        right: 140px;
    }

    #span2 {
        position: relative;
        top: 80px;
        right: 140px;
    }

    #span3 {
        position: relative;
        top: 90px;
        right: 150px;
    }

    #span4 {
        position: relative;
        top: 90px;
        right: 150px;
    }

    /*<!------------------------------------------ Assignments --------------------------------------------------->*/

    #mSectionAssignmentsSub01 {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 7px;
        row-gap: 7px;

        position: relative;
        left: 10px;
    }

    #mSectionAssignmentsSub01>div>img {
        width: 40vw;
    }


    /*<!------------------------------------------ Contact --------------------------------------------------->*/

    #mSectionContactSub1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
    }

    #mSectionContactSub1>div>a {
        font-size: 14px;
    }

    #mSectionContactSub1>div:first-child {
        left: 30vw;
    }

    #mSectionContactSub1>div:nth-child(2) {
        left: 37vw;
    }

    #mSectionContactSub1>div:nth-child(3) {
        left: 34vw;
    }


    /*//////////////////////////////////////////// Main 02 ////////////////////////////////////////////////////////////*/

    #m2SectionContactSub1>div:nth-child(2)>img {
        display: none;
    }

    #m2SectionContact h3 {
        font-size: 3vw;
    }

    #m2SectionContact span {
        font-size: 12px;
    }

}


